<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
  <footer class="footer-wrap">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-3">
				<div class="row widgets-wraps">
					<ul>
						<li>
							<%= _('Choose language:') =>
						</li>
						<li>
							<%= language_chooser(environment) %>
						</li>
						<li>
							&nbsp;
						</li>
						<li>
			        		<a href="http://ecoalternativo.net/site/terms"><%= _('Terms of use') =></a>
						</li>
					</ul>
				</div>
			  </div>
			  <div class="col-md-6"></div>
			  <div class="col-md-3">
			    <div class="row widgets-wraps">
			      <div class="widgettitle_wrap col-md-12">
			        <h2 class="widgettitle"><span>Contáctanos</span></h2>
			      </div>
			      <p class="contact_us_detail">
			        <a href="http://www.ecoalternativa.net">
			          <img src="http://www.ecoalternative.es/wp-content/uploads/2014/11/Ecoalternative_white_RGB-e1415545807242.png" data-at2x="http://www.ecoalternative.es/wp-content/uploads/2014/11/Ecoalternative_white_RGB-e1415545807242.png">
			        </a>
			       </p>
			       <ul>
			        <li>
			          <i class="fa fa-home"></i> EcoAlternative.NET
			         </li>
			         <li>
			          <i class="fa fa-envelope"></i> <a href="mailto:ama@ecoalternative.net">ama@ecoalternative.net</a>
			         </li>
			         <li>
			          <i class="fa fa-clock-o"></i> Transformando el tiempo en Arte
			         </li>
			         <li>
			          <i class="fa fa-plus-square"></i> Haciendo un mundo + consciente
			         </li>
			         <li>
			          <i class="fa fa-exclamation-circle"></i> <a href="www.ecoalternative.net">www.ecoalternative.net</a>
			         </li>
			       </ul>
			       <div class="foot-sns-icons">
			        <a href="https://www.facebook.com/EcoAlternativenet" target="_blank">
			          <img src="http://www.ecoalternativa.net/wp-content/themes/javo-directory/assets/images/sns/foot-facebook.png">
			        </a>
			        <a href="https://twitter.com/ecoalternative" target="_blank">
			          <img src="http://www.ecoalternativa.net/wp-content/themes/javo-directory/assets/images/sns/foot-twitter.png">
			        </a>
			        <a href="https://plus.google.com/116537119081325146102" target="_blank">
			          <img src="http://www.ecoalternativa.net/wp-content/themes/javo-directory/assets/images/sns/foot-googleplus.png">
			        </a>
			        <a href="https://www.flickr.com/photos/ecoalternative" target="_blank">
			          <img src="http://www.ecoalternative.es/wp-content/themes/javo-directory/assets/images/sns/Flickr_pie_contact_ecoalternative.png">
			        </a>
            </div>
          </div>
        </div> <!-- col-md-3 -->
		  </div> <!-- container -->
	  </div> <!-- row -->
  </footer>
</nav>

<% javascript_tag do %>
  <%= render file: "#{Rails.root}/public/designs/themes/ecoalternative/content_update.js.erb" %>
<% end %>

